/* Move down content because we have a fixed navbar that is 50px tall */

body {
  padding-top: 100px;
  padding-bottom: 40px;
  /*background: url("core/eiffel2.jpg") no-repeat bottom left fixed;*/
  background-color: #ffffff;
  color: white;

  font: 13px/18px 'Open Sans','Helvetica Neue',Arial,sans-serif;
;
  /*font-family: "Proxima Nova", "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;*/
}


.navbar { /*#f05f40*/
  background-color: rgba(240,95,64,1);
  border-color: rgba(240,95,64,1);
  font-weight: 700
}

.navbar-right {
  background-color: rgba(0,0,0,0);
}

.navbar brand > header-logo {
  width:32px;
  float: right;
}

@media (min-width: 768px) {
  .container {
    max-width: 730px;
  }
}
.container-narrow > hr {
  margin: 30px 0;
}
.carousel {
  height: 800px;
  margin-bottom: 60px;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  /*box-shadow: 0px -2px 2px rgba(0,0,0,0.5);*/
  /*background: rgba(0,0,0,0.3);*/
  /*background: rgba(0, 0, 0, 0.5);*/
  z-index: 10;
  font-weight: 600
  color: black;
}

/* Declare heights because of positioning of img element */
.carousel .item {
  height: 800px;                                                                                           
  background-color: rgba(255,255,255,1);

  /*background: rgba(0, 0, 0, 0.4);*/
  /*background-color: #777;*/
  /*background-color: #999999;*/
  /*box-shadow: inset 2px 2px 2px 2px rgba(ff,ff,ff,0.5);*/
}
.carousel-inner > .item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 500px;
}
/*
.carousel-indicatiors .active {
  background-color: #ffffff;
  /*box-shadow: inset 5px 5px 5px 5px rgba(0,0,0,1);*/*/
}