/* Move down content because we have a fixed navbar that is 50px tall */

body {
  padding-top: 100px;
  padding-bottom: 40px;
  background: url("core/eiffel.jpg") no-repeat bottom left fixed;
  background-color:black;
  color: white;
}


@media (min-width: 768px) {
  .container {
    max-width: 730px;
  }
}
.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 0;
  background: rgba(100, 0, 150, 0.5);
}

.jumbotron .btn {
  padding: 14px 24px;
  font-size: 21px;
}