/* Move down content because we have a fixed navbar that is 50px tall */


body {
  padding-top: 100px;
  padding-bottom: 40px;
  background: url("core/eiffel.jpg") no-repeat bottom left fixed;
  background-color: black;
  color: white;

  font: 13px/18px 'Open Sans','Helvetica Neue',Arial,sans-serif;
}

.navbar { /*#f05f40*/
  background-color: rgba(240,95,64,1);
  border-color: rgba(240,95,64,1);
  font-weight: 700
}

@media (min-width: 768px) {
  .container {
    max-width: 730px;
  }
}
.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 0;
  background: rgba(0, 0, 0, 0.5);
}

.jumbotron .btn {
  padding: 14px 24px;
  font-size: 21px;
}